* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  text-decoration: none;
  overflow-x: hidden;
  list-style: none;
}

.guardar {
  color: #fff;
  color: #f1f3f7;
  color: #f6f6f6;
  color: #a89f9f;
  color: #233032;
  color: #2f86d6;
}

body {
  background-color: #fff;
}

/* class reutilizavel */

.conteiner {
  max-width: 1440px;
  padding: 0 5%;
  margin: 0 auto;
}

/* end reutilizaveis */
/* header */

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px;
}

.logo{
  position: relative;
  z-index: 10;
 
}

.logo > img {
  width: 100%;
  height: 100%;
  
}

ul {
  display: flex;
  align-items: center;
}

ul > li {
  margin: 0 35px;
}

ul > li > a {
  color: #233032;
  font-weight: 600;
}

ul > li > a:hover {
  color: #2f86d6;
  text-decoration: underline;
  font-weight: 600;
}

.icons-nav{
  overflow-y: hidden;
  display: none ;
}

/* end header */

/* menu */
.menu-icon {
  display: none;
  position: relative;
  z-index: 10;
  padding: 1%;
}
/* end menu */

/* main */

main {
  background-color: #2f86d6;
}

main > .conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 163px;
  margin-bottom: 163px;
}

.main-text {
  width: 50%;
  color: #fff;
}

.main-text > h2 {
  font-size: 35px;
  margin: 10px 0px;
}

.main-text > p {
  font-size: 20px;
}

.main-img > img {
  width: 110%;
}

/* section 1 */

.ONE {
  background-color: #233032;
  color: #fff;
}

section > .conteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

section > .conteiner > .box-anuncio {
  margin: 30px 0px;
}

section > .conteiner > .box-button {
  display: flex;
  padding: 10px;
  background-color: #2f86d6;
  border-radius: 8px;
}

.box-button > img {
  width: 20px;
  height: 20px;
}

.box-button > a {
  color: #fff;
  margin-left: 10px;
}

/* end section 1 */

/* section 2 */

.TWO {
  color: #233032;
  background-image: url(../img/fundo.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.TWO > .conteiner {
  display: flex;
  flex-direction: column;
}

.box-text2 {
  text-align: center;
  margin: 50px auto;
}

span {
  color: #2f86d6;
}

/* cards */

.box-card {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  text-align: center;
  margin-bottom: 50px;
}

.card {
  margin: 0px 10px;
  box-shadow: 0px 0px 10px 1px #2f85d683;
  transition: 1s;
}

.card:hover {
  padding: 0% 2%;
  transition: 1s;
}

.card > img {
  width: 200px;
  padding: 10px;
}

.card > h3 {
  margin-bottom: 5px;
}

.card > p {
  padding-bottom: 10px;
  margin: 0px 10px;
  font-size: 15px;
}

/* section 3 */
.TREE {
  background-color: #f1f3f7;
}

.TREE > .conteiner {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.box-text3 {
  text-align: center;
  margin: 50px auto;
}

/* tabela */

table {
  box-shadow: 0px 0px 10px 4px #2f86d6;
  margin-bottom: 50px;
}

thead h3 {
  margin: 10px;
}

thead img {
  width: 50%;
  height: 50%;
}

thead p {
  margin: 10px 15px;
}

tbody {
  text-align: center;
}

td {
  padding: 1%;
}

.background {
  background-color: #2f85d61e;
}

th,
td {
  border: 1px solid rgba(218, 218, 218, 0.089);
  border-collapse: collapse;
}

/*  end tabela */
/* end section 3 */



/* section 4 */
.FOUR {
  background-color: #233032;
  color: #fff;
}
/* end section 4 */

/* section 5 */

.FIVE {
  background-image: url(../img/fundo2.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.FIVE .conteiner {
  display: flex;
  flex-direction: column;
}

.contato {
  margin: 50px auto 15px auto;
}

.icones {
  margin-bottom: 50px;
}

.icones img {
  width: 40px;
  height: 40px;
  margin: auto 8px;
}

.icones img:hover {
  padding: 1%;
}

/* end section 5 */

/* footer */

footer {
  background-color: #2f85d6b2;
  color: #fff;
}

footer .conteiner {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  text-align: center;
}

.autor {
  margin: 10px auto;
}

.autor p {
  font-size: 13px;
}
/* end footer */

/* media menu e organização de loyaut após o menu */
@media (max-width: 1070px) {
  
  .menu-icon {
    display: flex;
  }

  .icons-nav{
    display: flex;
    width: 35px;
    height: 25px;
    padding-right: 10px;
  }

  .ul {
    height: 60%;
    width: 100%;
    background-color: #2f86d6;
    top: 0px;
    left: 100%;
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    overflow-y: hidden;
    background-image: url(../img/fundo.png);
    background-repeat: -norepeat;
    background-size: contain;
    background-attachment: fixed;
  }

  ul > li > a {
    color: #fff;
    display: flex;
  }

  ul li a:hover {
    color: #000000b9;
    text-decoration: underline;
    font-weight: 600;
  }

  .ul.ativo {
    display: flex;
    left: 0%;
    box-shadow: 0px 0px 10px 1px #2330323d;
   
    
  }

  .logo img {
    width: 80%;
    height: 80%;
  }

  ul > li {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: 10px 50px;
    width: 500px;
    box-shadow: 0px 0px 10px 1px #ffffff6b inset;
  }

  main > .conteiner {
    flex-direction: column;
    margin-top: 90px;
    margin-bottom: 40px;
  }
  main > .conteiner > .main-text {
    width: 80%;
    text-align: center;
  }
  main > .conteiner > .main-text > h2 {
    font-size: 25px;
  }

  main > .conteiner > .main-text > p {
    font-size: 15px;
    margin: 0px 50px;
  }

  main > .conteiner > .main-img {
    width: 70%;
  }

  .contato h2 {
    font-size: 17px;
  }
}
/* end media menu */

/* TABLET */
@media (max-width: 768px) {

  .ONE .box-anuncio h3 {
    font-size: 15px;
  }

  .ONE .box-anuncio p {
    font-size: 12px;
  }

  .FOUR .box-anuncio h3 {
    font-size: 15px;
  }

  .FOUR .box-anuncio p {
    font-size: 12px;
  }

  section > .conteiner > .box-button {
    display: flex;
    padding: 7px;
    background-color: #2f86d6;
    border-radius: 8px;
  }

  .box-button p {
    font-size: 15px;
  }

  .box-button > img {
    width: 20px;
    height: 20px;
  }

  .box-button > a {
    color: #fff;
    margin-left: 10px;
  }

  h2 {
    font-size: 20px;
  }

  .box-card {
    flex-direction: column;
    flex: auto;
  }

  .card {
    margin: 10px 10px;
    box-shadow: none;
    box-shadow: 0px 0px 10px 1px #2f85d683;
  }

  .contato h2 {
    font-size: 16px;
  }

  .icones img {
    width: 30px;
    height: 30px;
    margin: auto 8px;
  }

  footer p {
    font-size: 10px;
  }
  .menu-icon {
    display: flex;
  }

  .icons-nav{
    display: flex;
    width: 35px;
    height: 25px;
    padding-right: 10px;
  }

  .ul {
    height: 60%;
    width: 100%;
    background-color: #2f86d6;
    top: 0px;
    left: 100%;
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    overflow-y: hidden;
    background-image: url(../img/fundo.png);
    background-repeat: -norepeat;
    background-size: contain;
    background-attachment: fixed;
  }

  ul > li > a {
    color: #fff;
    display: flex;
  }

  ul li a:hover {
    color: #000000b9;
    text-decoration: underline;
    font-weight: 600;
  }

  .ul.ativo {
    display: flex;
    left: 0%;
    box-shadow: 0px 0px 10px 1px #2330323d;
   
  }

  .logo img {
    width: 80%;
    height: 80%;
  }

  ul > li {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: 10px 50px;
    width: 500px;
    box-shadow: 0px 0px 10px 1px #ffffff6b inset;
  }
}

/* CELULARES */

@media (min-width: 641px) and (max-width: 767px) {

  .menu-icon {
    display: flex;
  }

  .icons-nav{
    display: flex;
    width: 35px;
    height: 25px;
    padding-right: 10px;
  }

  .ul {
    height: 60%;
    width: 100%;
    background-color: #2f86d6;
    top: 0px;
    left: 100%;
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    overflow-y: hidden;
    background-image: url(../img/fundo.png);
    background-repeat: -norepeat;
    background-size: contain;
    background-attachment: fixed;
  }

  ul > li > a {
    color: #fff;
    display: flex;
  }

  ul li a:hover {
    color: #000000b9;
    text-decoration: underline;
    font-weight: 600;
  }

  .ul.ativo {
    display: flex;
    left: 0%;
    box-shadow: 0px 0px 10px 1px #2330323d;
   
    
  }

  .logo img {
    width: 80%;
    height: 80%;
  }

  ul > li {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: 10px 50px;
    width: 500px;
    box-shadow: 0px 0px 10px 1px #ffffff6b inset;
  }

  main > .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  main > .conteiner > .main-text > h2 {
    font-size: 23px;
    margin: 10px 0px;
  }

  main > .conteiner > .main-text > p {
    font-size: 15px;
    margin: auto 10px;
  }

  .box-button > img {
    width: 15px;
    height: 15px;
  }

  .box-button > a {
    color: #fff;
    margin-left: 10px;
  }

  .ONE .box-anuncio h3 {
    font-size: 16px;
  }

  .ONE .box-anuncio p {
    font-size: 12px;
  }

  .FIVE .contato{
    text-align: center;
  }

}
@media (min-width: 640px) and (max-width: 703px) {
  .FIVE .contato h2{
    text-align: center;
    font-size: 14px;
  }
}
/* end CELULARES */


/* CELULARES MEDIANOS */
@media (min-width: 481px) and (max-width: 640px) {
  .menu-icon {
    display: flex;
  }

  .icons-nav{
    display: flex;
    width: 35px;
    height: 25px;
    padding-right: 10px;
  }

  .ul {
    height: 60%;
    width: 100%;
    background-color: #2f86d6;
    top: 0px;
    left: 100%;
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    overflow-y: hidden;
    background-image: url(../img/fundo.png);
    background-repeat: -norepeat;
    background-size: contain;
    background-attachment: fixed;
  }

  ul > li > a {
    color: #fff;
    display: flex;
  }

  ul li a:hover {
    color: #000000b9;
    text-decoration: underline;
    font-weight: 600;
  }

  .ul.ativo {
    display: flex;
    left: 0%;
    box-shadow: 0px 0px 10px 1px #2330323d;
   
    
  }

  .logo img {
    width: 80%;
    height: 80%;
  }

  ul > li {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: 10px 50px;
    width: 400px;
    box-shadow: 0px 0px 10px 1px #ffffff6b inset;
  }

  main > .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  main > .conteiner > .main-text > h2 {
    font-size: 17px;
    margin: 10px 0px;
  }

  main > .conteiner > .main-text > p {
    font-size: 11px;
    margin: auto 10px;
  }

  section > .conteiner > .box-button {
    display: flex;
    padding: 1px;
    background-color: #2f86d6;
    border-radius: 8px;
  }

  .box-button > img {
    width: 15px;
    height: 15px;
  }

  .box-button > a {
    color: #fff;
    margin-left: 10px;
  }

  .ONE .box-button p {
    font-size: 10px;
  }

  .ONE .box-anuncio h3 {
    font-size: 12px;
  }

  .ONE .box-anuncio p {
    font-size: 10px;
  }
}

/* CELULARES MENORES */
@media (max-width: 480px) {
  .menu-icon {
    display: flex;
  }

  .icons-nav{
    display: flex;
    width: 35px;
    height: 25px;
    padding-right: 10px;
  }

  .ul {
    height: 50%;
    width: 100%;
    background-color: #2f86d6;
    top: 0px;
    left: 100%;
    display: none;
  }

  ul {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    overflow-y: hidden;
    background-image: url(../img/fundo.png);
    background-repeat: -norepeat;
    background-size: contain;
    background-attachment: fixed;
  }

  ul > li > a {
    color: #fff;
    display: flex;
  }

  ul li a:hover {
    color: #000000b9;
    text-decoration: underline;
    font-weight: 600;
  }

  .ul.ativo {
    display: flex;
    left: 0%;
    box-shadow: 0px 0px 10px 1px #2330323d;
    
  }

  .logo img {
    width: 70%;
    height: 70%;
  }

  ul > li {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
    padding: 10px 50px;
    width: 300px;
    box-shadow: 0px 0px 10px 1px #ffffff6b inset;
  }
  main > .conteiner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 50px;
  }

  main > .conteiner > .main-text > h2 {
    font-size: 17px;
    margin: 10px 0px;
  }

  main > .conteiner > .main-text > p {
    font-size: 11px;
    margin: auto 10px;
  }

  section > .conteiner > .box-button {
    display: flex;
    padding: 1px;
    background-color: #2f86d6;
    border-radius: 8px;
  }

  .box-button > img {
    width: 15px;
    height: 15px;
  }

  .box-button > a {
    color: #fff;
    margin-left: 10px;
  }

  .ONE .box-button p {
    font-size: 10px;
  }

  .ONE .box-anuncio h3 {
    font-size: 12px;
  }

  .ONE .box-anuncio p {
    font-size: 10px;
  }
}
