* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  text-decoration: none;
}

/* CELULARES */
@media (max-width: 425px) {}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {}

/* NOTEBOOK */
@media (min-width: 1024px) {}
