* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
  text-decoration: none;
  overflow-x: hidden;
  list-style: none;
}

/* #fff
#f1f3f7
#f6f6f6
#a89f9f
#233032
#2f86d6 */



































/* CELULARES */
@media (max-width: 425px) {}

/* TABLET */
@media (min-width: 768px) and (max-width: 1023px) {}

/* NOTEBOOK */
@media (min-width: 1024px) {}

